/* ------------------------- */
/* Variables */
/* ------------------------- */

:root {
	--main-accent:#fc575e;
	--light-accent-color: #f0f1f5;
	--dark-accent-color: #333;
	--main-grey: #555;
}

/* ------------------------- */
/* Resets */
/* ------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

/* ------------------------- */
/* Global */
/* ------------------------- */
body {
	background-color: var(--light-accent-color);
}

a {
	text-decoration: none
}

a:hover {
	cursor: pointer;
}

.container {
	width: 80%;
	margin: 0 auto;
}


/* ------------------------- */
/* Navbar */
/* ------------------------- */
#nav {
	height: 60px;
	background: var(--dark-accent-color);
	margin-bottom: 25px;
}

#navContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.nav-header {
	color: var(--light-accent-color);
	font-size: 28px;
}

#addBtn {
	font-size: 24px;
	color: var(--light-accent-color);
}